* {
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
    box-sizing: border-box;
    font-size: .96em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {}

html,
body {
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url("asset/images/bg.png");
}

.backimage {
    height: 100%;
    position: fixed;
    width: 100%;
    background-image: url("asset/images/bg2.png");
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: rgba(153, 153, 153, 1);
    background: -moz-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(61, 60, 56, 1) 51%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(153, 153, 153, 1)), color-stop(51%, rgba(61, 60, 56, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(61, 60, 56, 1) 51%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(61, 60, 56, 1) 51%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(153, 153, 153, 1) 0%, rgba(61, 60, 56, 1) 51%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(153, 153, 153, 1) 0%, rgba(61, 60, 56, 1) 51%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#000000', GradientType=0);
    transition: height .1s ease-out;
}

header:hover {
    background-position: 100px
}

.logo {
    background: url("asset/images/logo-list.png");
    background-size: 100% 100%;
    ;
}

nav ul li {
    /*color gradient*/
    background: #45484d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    list-style: none;
    float: left;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px
}

nav ul li:hover {
    cursor: pointer;
    /*color gradient*/
    background: #45484d;
    background: -moz-linear-gradient(top, #45484d 0%, #faad00 100%);
    background: -webkit-linear-gradient(top, #45484d 0%, #faad00 100%);
    background: linear-gradient(to bottom, #45484d 0%, #faad00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='faad00', GradientType=0);
}

footer {
    background-color: rgba(0, 0, 0, 0.16);
    float: left;
}

aside {
    background-color: rgba(0, 0, 0, 0.18);
    display: inline-block;
}

#sp24h {
    background-image: url(asset/images/24h.png);
    background-size: 100% 100%;
}

#cr {
    background-image: url("asset/images/cr.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#support-right li {
    position: relative;
    color: white;
    font-weight: bolder;
    list-style: none;
    background: rgba(245, 240, 243, 1);
    background: -moz-linear-gradient(top, rgba(105, 105, 105, 0.30) 0%, rgba(0, 0, 0, 0.42) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105, 105, 105, 1)), color-stop(100%, rgba(0, 0, 0, 0.42)));
    background: -webkit-linear-gradient(to bottom, rgba(105, 105, 105, 0.30) 0%, rgba(0, 0, 0, 0.42) 100%);
    background: -o-linear-gradient(to bottom, rgba(105, 105, 105, 0.30) 0%, rgba(0, 0, 0, 0.42) 100%);
    background: -ms-linear-gradient(to bottom, rgba(105, 105, 105, 0.30) 0%, rgba(0, 0, 0, 0.42) 100%);
    background: linear-gradient(to bottom, rgba(105, 105, 105, 0.30) 0%, rgba(0, 0, 0, 0.42) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f0f3', endColorstr='#615f60', GradientType=0);
}




