<div class="register">
    <h1>DEPOSIT</h1>

    <label>UripWij25@gmail.com</label><input type="text">

    <label>Bank Anda</label>
    <select>
      <option disabled selected value> -- select an option -- </option>
      <option value="bca">BCA</option>
      <option value="bni">BNI</option>
      <option value="bri">BRI</option>
      <option value="mandiri">MANDIRI</option>
    </select>

    <label>User ID Games</label><input type="text">
    
    <label>No. Rekening</label><input type="text" placeholder="No. Rek harus sama dengan ketika daftar">

    <label>Nama Pemilik Rekening</label><input type="text">

    <label>Permainan</label>
    <select>
      <option disabled selected value> -- select an option -- </option>
      <option value="sportbook">SPORTBOOK</option>
      <option value="casino">CASINO</option>
      <option value="tangkas">TANGKAS</option>
      <option value="togel">TOGEL</option>
      <option value="poker">POKER</option>
    </select>
    
    <label>Jumlah Deposit</label><input type="text">

    <label>Kode Chapta</label><input type="text" id="chapta">

    <div id="chapta-img">ABCDEF</div>

    <button style="margin-left: 50px;">DEPOSIT</button>
</div>
