<div class="register">
    <h1>PROMO BONUS EXTRA KREDIT & CASHBACK</h1>
    <hr>
    <p>Kami adalah Bandar Bola, Judi Bola Online Sekaligus juga Master Agen Judi Bola Online yang memberikan layanan Taruhan bola online dan juga berbagai permainan judi lainnya. Untuk dapat mengikuti permainan di website kamin kami mempunyai beberapa Peraturan yang harus diketahui oleh setiam member taruhan88.net</p>
    <p style="color: yellow">Peraturan bermain judi bola, taruhan bola online serta permainan lainnya yang harus di ikuti member taruhan88.net</p>
    <ol style="margin-left: 1em">
        <li>Setelah anda mendaftar menjadi member kami, anda telah kami anggap paham dan setuju dengan aturan yang ada di website kami.</li>
        <li>Sebenlum melakukan deposit dana, Member wajib bertanya kepada CS kami mengenai rekening tujuan yang masih aktif.</li>
        <li>Apabila member melakukan deposit kerekening tujuan yang telah dinyatakan tidak aktif, maka dana transfer deposit tersebut kami nyatakan hangus.</li>
        <li>Apabila dana deposit yang di transfer tidak sesuai dengan rekening bank yang di daftarkan, maka deposit dana tersebut kami nyatakan hangus.</li>
        <li>Tidak berlaku pembatalan taruhan / bet yang telah di confirm dengan segala alasan apapun</li>
        <li>Setiap member harus mengetahui dan membaca semua perturan dan persyaratan pada website yang telah di ikuti (daftar) sebelum mulai melakukan pasang taruhan.</li>
        <li>Semua perhitungan kalah atau menang oleh sebuah website yang di ikuti adalah benar.</li>
        <li>Anda Harus berusia minimal 18 tahun untuk dapat membuka account betting.</li>
        <li>Setiap member di wajibkan menjaga akunnya masing-masing.</li>
        <li>Data yang dikirimkan pada formulir pendaftaran harus ASLI dan BENAR.</li>
        <li>Sebuah Account yang sama sekali tidak ada transaksi dalam tempo 1 bulan, dengan tanpa mengurangi rasa hormat akan kamu tutup (CLOSED).</li>
    </ol>
</div>
