<div class="register">
    <h1>PROMO BONUS EXTRA KREDIT & CASHBACK</h1>
    <hr>
    <ol>
        <li>10% Bonus Sportsbook Untuk Deposit Pertama
            <p>Syarat dan Ketentuan</p>
            <ul style="margin-left: 1em">
                <li>Minimal deposit Rp. 500.000,-</li>
                <li>Maximal bonus Rp. 2.000.000,-</li>
                <li>Bonus credit 10% akan langsung diberikan saat deposit.</li>
                <li>Hanya berlaku untuk SBOBET & IBCBET.</li>
                <li>Minimal withdraw harus 3x dari jumlah deposit beserta bonus, apabila tidak mencapai 3x jumlah deposit beserta bonus, maka bonus akan ditarik kembali.</li>
                <li>Tidak diperbolehkan safety bet (atas bawah, besar kecil). Apabila terjadi kecurangan kami berhak menghilangkan bonus 10% ini.</li>
                <li>Maximal bet dari promo ini adalah setengah dari nilai deposit beserta bonus.</li>
                <li>Tidak diperbolehkan pindah credit selama promo ini berlangsung.</li>
            </ul>
        </li>
        <li>5% Bonus Casino Untuk Deposit Pertama
            <p>Syarat dan Ketentuan</p>
            <ul style="margin-left: 1em">
                <li>Minimal deposit Rp. 1.000.000,-</li>
                <li>Maximal bonus Rp. 2.000.000,-</li>
                <li>Bonus credit 5% akan langsung diberikan saat deposit.</li>
                <li>Hanya berlaku untuk SBOBET CASINO, ION CASINO & GUAVITA.</li>
                <li>Minimal withdraw harus 3x dari jumlah deposit beserta bonus, apabila tidak mencapai 3x jumlah deposit beserta bonus, maka bonus akan ditarik kembali.</li>
                <li>Tidak diperbolehkan pindah credit selama promo ini berlangsung.</li>
            </ul>
        </li>
        <li>5% Cashback Sportsbook 
            <p>Syarat dan Ketentuan</p>
            <ul style="margin-left: 1em">
                <li>Cashback 5% hanya berlaku bagi member dengan kondisi kalah.</li>
                <li>Pencairan cashback 5% akan dicairkan pada setiap hari Selasa dan akan dimasukkan	secara otomatis ke dalam id anda.</li>
                <li>Cashback 5% dihitung dari total kekalahan pemain setiap periode Senin s/d Minggu sebelumnya.</li>
                <li>Minimum cashback yang diberikan adalah Rp 100.000,-</li>
                <li>Maksimum cashback yang diberikan adalah Rp 2.000.000,-</li>
                <li>Hanya berlaku untuk SBOBET & IBCBET.</li>
            </ul>
        </li>
        <li>0.5% Casino Comission
            <p>Syarat dan Ketentuan</p>
            <ul style="margin-left: 1em">
                <li>Casino comission sebesar 0.5% akan kami berikan kepada para pemain dalam keadaan menang ataupun kalah.</li>
                <li>Pencairan casino comission 0.5% akan dicairkan pada setiap hari Selasa dan akan dimasukkan secara otomatis ke dalam id anda.</li>
                <li>Casino comission 0.5% dihitung dari total turnover pemain setiap periode Senin s/d Minggu sebelumnya.</li>
                <li>Hanya berlaku untuk SBOBET CASINO, ION CASINO & GUAVITA.</li>
            </ul>
        </li>
        <li>0.25% Sportsbook Comission 
            <p>Syarat dan Ketentuan</p>
            <ul style="margin-left: 1em">
                <li>Sportsbook comission sebesar 0.25% akan kami berikan kepada para pemain dalam keadaan menang ataupun kalah.</li>
                <li>Sportsbook comission 0.25% akan langsung diberikan disaat anda betting.</li>
                <li>Hanya berlaku untuk Judi Bola SBOBET & IBCBET.</li>
            </ul>
        </li>
    </ol>
</div>
